/* Large DESKTOP
========================================================================== */
@media screen and (min-width:1366px) and (max-width:1920px) {
   
}
/* Small DESKOTOP
========================================================================== */
@media screen and (min-width:1024px) and (max-width:1365px) {
   
}
/* TABLETS/Small DESKTOP
========================================================================== */
@media screen and (min-width:768px) and (max-width:1023px) {
   
}
/* TABLETS
========================================================================== */
@media screen and (min-width:480px) and (max-width:767px) {
   
}
/* SMARTFONES
========================================================================== */
@media screen and (min-width:240px) and (max-width:479px) {
   
}
/* PORTRAIT
========================================================================== */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)   {
   
}
/* LANDSCAPE
========================================================================== */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)   {
   
}