/*imports*/
@import '../sass/helpers/__reset.scss'; 
@import '../sass/helpers/__functions.scss'; 
@import '../sass/helpers/__typography.scss'; 
@import '../sass/helpers/__mixins.scss'; 

h1 {
	font-size:em(50px);
	text-align:center;
	display:flex;
	justify-content:center;
}