@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin fontNew {
    font-size:em($font-size-ninetysix_pixels);
    text-transform: uppercase;
    font-weight: $normal-weight;
 
}